<div
  style="
    display: flex;
    height: 30vh;
    background-image: url(/assets/fondo-agua.jpeg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    color: #222;
    font-size: 1.5em;
  "
>
  <h1>Agregar Producto</h1>
</div>

<div class="new-prduct-form-container">
  <form
    class="row g-3 form-new-prod"
    [formGroup]="newProductForm"
    (ngSubmit)="addProduct()"
  >
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Producto</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail4"
        formControlName="productName"
      />
    </div>
    <div class="col-md-6">
      <label for="textareaDescription" class="form-label">Descripcion</label>
      <textarea
        name=""
        id=""
        cols="30"
        rows="2"
        class="form-control"
        id="textareaDescription"
        formControlName="productDesc"
      ></textarea>
    </div>
    <div class="col-2">
      <label for="inputAddress" class="form-label">Cantidad</label>
      <input
        type="text"
        class="form-control"
        placeholder="1"
        formControlName="productStock"
      />
    </div>
    <div class="col-8">
      <label for="inputAddress2" class="form-label">Categoria</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress2"
        placeholder="Limpieza, Mantenimiento, etc"
        formControlName="productCat"
      />
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Precio</label>
      <input
        type="text"
        class="form-control"
        id="inputCity"
        formControlName="productPrice"
      />
    </div>
    <div class="col-md-6">
      <label for="inputZip" class="form-label">Imagen</label>
      <input type="text" class="form-control" formControlName="productImg" />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Cargar Producto</button>
    </div>
  </form>
</div>
<a class="btn btn-primary" routerLink="/adminProducts"> Volver Atras. </a>
