.new-prduct-form-container{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-new-prod{
  padding: 30px;
  width: 500px;
  border: 2px solid black;
  border-radius: 20px;
}