.footer {
  // display: flex;
  // justify-content: space-between;
  // background-color: #5dc1b9;
  // align-items: center;
  padding: 0;
  position: absolute;
  bottom: 0px;
  min-width: 100vw;
  margin-bottom: 0px;
}

.logo {
  display: flex;
  height: 4rem;
  align-items: center;
}

.logo-img {
  height: 4rem;
}