<!-- <footer class="footer">

  <div class="logo">
    <img src="assets/logo.png" class="logo-img">
    <h2>QUÍMICA ALDEA</h2>
  </div>
  <div>
    Links contacto
  </div>

</footer> -->

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container footer">
  <!-- Footer -->
  <footer
    class="text-center text-lg-start text-white"
    style="background-color: var(--base-color)"
  >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <img src="assets/logo.png" class="logo-img" />
            <h6 class="text-uppercase mb-4 font-weight-bold">Quimica Aldea</h6>
            <p>Venta de productos y servicios de limpieza para pileta</p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Productos</h6>
            <p>
              <a class="text-white">Cloro Granulado</a>
            </p>
            <p>
              <a class="text-white">Cloro Liquidp</a>
            </p>
            <p>
              <a class="text-white">Pastillas de Cloro</a>
            </p>
            <p>
              <a class="text-white">Lavandina</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Servicios</h6>
            <p>
              <a class="text-white">Sericio 1</a>
            </p>
            <p>
              <a class="text-white">Sericio 2</a>
            </p>
            <p>
              <a class="text-white">Sericio 3</a>
            </p>
            <p>
              <a class="text-white">Sericio 4</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
            <p><i class="fas fa-home mr-3"></i> Rosario, AV real 9000, AR</p>
            <p><i class="fas fa-envelope mr-3"></i> quimicaaldea@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 54 341 501 6231</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3" />

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <!-- <div class="p-3">
              © 2020 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/"
                >MDBootstrap.com</a
              >
            </div> -->
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              class="text-white"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              class="text-white"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>

            <!-- Google -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              class="text-white"
              role="button"
              ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              class="text-white"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
