<accordion [isAnimated]="true">
  <accordion-group heading="{{ order.id_pedido }}" class="user-flex-container">
    <div class="user-flex-item">
      <p class="user-flex-text">Numero de pedido: {{ order.id_pedido }}</p>
      <p class="user-flex-text">Fecha: {{ order.fecha }}</p>
      <p class="user-flex-text">Total: ${{ order.total }}</p>
      Productos:
      <p *ngFor="let prod of order.productos_pedidos" class="producto">
        {{ prod.id_producto }}; {{ prod.cantidad }} unidades.
      </p>
      <!-- <p class="user-flex-text">Nombre: {{ order.nombre }}</p> -->
      <!-- <p class="user-flex-text">Apellido: {{ order.apellido }}</p>
      <p class="user-flex-text">Telefono: {{ order.telefono }}</p> -->
    </div>
  </accordion-group>
</accordion>
