.user-flex-container {
  width: 320px;
  margin: 15px;
  box-shadow: 10px 10px 20px 0px rgba(43, 43, 43, 0.6);
}
.btn-container {
  margin: 10px;
}
 .btn-deleteProd {
  margin-left: 0px;
  margin-top: 10px;
 }
    
.btn-editProd {
  margin-left: 0;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .user-flex-container {
    width: 768px;
    margin: 15px;
    box-shadow: 10px 10px 20px 0px rgba(43, 43, 43, 0.6);
  }
    .btn-deleteProd {
      margin-left: 10px;
      margin-top: 0;
    }
  
    .btn-editProd {
      margin-left: 10px;
      margin-bottom: 0;
    }
}