.service-container {
  width: 100vw;
  display: flex;
  justify-items: center;
  flex-direction: column;

  .service {
    width: 80vw;
    align-self: center;
    margin-bottom: 1rem;
  }

  .btn-add-serv {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: fit-content;
    padding: .5rem;
    align-self: center;
  }
}