<div class="order-container">
  <div class="mb-3 searchbox-container">
    <input
      type="email"
      class="form-control searchbox"
      id="exampleFormControlInput1"
      placeholder="Buscar"
      [formControl]="searchForm"
    />
    <a class="btn btn-primary btn-searchAll" (click)="getOrderByProduct()">
      Buscar Por Producto</a
    >
    <a class="btn btn-primary btn-searchAll" (click)="getAllOrders()">
      Buscar Todos</a
    >
  </div>
  <app-order-item
    *ngFor="let order of filteredOrders"
    [order]="order"
  ></app-order-item>
</div>
