.edit-serv {
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 5rem;

  .edit {
    outline: none;
    border: none;
    border-bottom: 2px solid #5dc1b9;
    border-radius: 0;
  }

  .btn-aceptar {
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.btns-container {
  display: flex;
  justify-content: space-between;
}