<div *ngIf="onEdit==false">
  <p>{{service.description}}</p>
  <p><b>{{service.price}}</b></p>
</div>
<div *ngIf="onEdit==true" class="edit-serv">
  <form [formGroup]="editServiceForm" class="row g-3" (ngSubmit)="sendEdit()">
    <label class="form-label"> Descripción: </label><input class="form-control" type="text"
      formControlName="description">
    <label class="form-label"> Precio por hora: </label><input class="form-control" type="text" formControlName="price">
    <button type="submit" class="btn btn-primary btn-aceptar">Aceptar</button>
  </form>
</div>
<div class="btns-container">
  <a routerLink="" class="btn btn-primary">Contactanos Ya</a>
  <button class="btn btn-secondary" (click)="editService()">{{onEdit?'Cancelar':'Editar Servicio'}}</button>
  <button class="btn btn-danger" (click)="deleteService(service.id)">Eliminar Servicio</button>
</div>