.edit-serv {
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 5rem;

  .edit {
    outline: none;
    border: none;
    border-bottom: 2px solid #5dc1b9;
    border-radius: 0;
  }

  .btn-aceptar {
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.btn-container {
  width: 80vw;

  .btn {
    margin-bottom: .5rem;
    border-radius: .5rem;
    display: block;
    width: 100%;
  }
}




textarea {
  resize: none;
  overflow-y: auto;
}

.btn-modal-container {
  text-align: right;

  .btn-modal {
    width: fit-content;
    margin: .2rem;
  }

}


@media screen and (min-width:1000px) {
  .btn-container {
    width: 80vw;
    display: flex;
    justify-content: flex-end;

    .btn {
      display: inline-block;
      width: max-content;
      margin-left: .5rem;
    }
  }

}