<div
  style="
    display: flex;
    height: 30vh;
    background-image: url(./assets/fondo-agua.jpeg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    color: #222;
    font-size: 1.5em;
  "
>
  <h1>CARRITO</h1>
</div>

<button
  *ngIf="cartService.cartProducts.length > 0"
  class="btn btn-primary"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasWithBothOptions"
  aria-controls="offcanvasWithBothOptions"
>
  Check Out
</button>

<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    <h1 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
      Carrito de compras
    </h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div *ngFor="let product of cartService.cartProducts">
      <ul>
        <li>{{ product.nombre_producto }}</li>
        <li>${{ product.precio }}</li>
        <li>X{{ product.amount }}</li>
      </ul>
    </div>
    <h1>Total: ${{ total }}</h1>
    <button
      type="button"
      class="btn btn-danger"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      (click)="clearCart()"
    >
      Vaciar
    </button>
    <button type="button" class="btn btn-primary" (click)="checkOut()">
      Comprar
    </button>
  </div>
</div>

<div class="products-container">
  <div
    *ngFor="let product of cartService.cartProducts"
    class="card product"
    style="width: 18rem"
  >
    <img [src]="product.imagen" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ product.nombre_producto }}</h5>
      <p class="card-text">
        {{ product.desc_producto }}
      </p>
      <div class="btn-add-subs">
        <a (click)="substractOne(product)" class="btn btn-primary"> - </a>
        <p>{{ product.amount }}</p>
        <a (click)="addOne(product)" class="btn btn-primary"> + </a>
        <a (click)="removeOne(product)" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>
