.container{
  min-width: 100vw;
  padding: 0px;
  position: relative;
  min-height: 100vh;
  padding-bottom: 1000px;
}
@media (min-width: 768px){
  .container {
    min-width: 100vw;
    padding: 0px;
    position: relative;
    min-height: 100vh;
    padding-bottom: 400px;
  }
}