<form [formGroup]="signUpForm" (ngSubmit)="addUser()" class="form-group">
  <div class="input-container">
    <div class="form-item">
      <label for="username">Nombre de Usuario: </label>
      <input type="text" placeholder="Usuario" formControlName="username" />
    </div>
    <div class="form-item">
      <label for="password">Password</label>
      <input type="text" placeholder="Contraseña" formControlName="password" />
    </div>
    <div class="form-item">
      <label for="email">Correo Electrónico: </label>
      <input type="text" placeholder="Email" formControlName="email" />
    </div>
    <div class="form-item">
      <label for="phoneNumber">Número de Teléfono: </label>
      <input type="text" placeholder="Teléfono" formControlName="phoneNumber" />
    </div>
    <div class="form-item">
      <label for="firstName">Nombres: </label>
      <input type="text" placeholder="Nombres" formControlName="firstName" />
    </div>
    <div class="form-item">
      <label for="lastName">Apellido: </label>
      <input type="text" placeholder="Apellido" formControlName="lastName" />
    </div>
    <div class="form-item">
      <label for="address">Dirección: </label>
      <input type="text" placeholder="Dirección" formControlName="address" />
    </div>
    
    <input type="submit" value="Agregar" class="log-in-btn" />
  </div>
</form>