<div
  style="
    display: flex;
    height: 30vh;
    background-image: url(./assets/fondo-agua.jpeg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    color: #222;
    font-size: 1.5em;
  "
>
  <h1>PRODUCTOS</h1>
</div>
<div class="mb-3 searchbox-container">
  <h2>Buscar Productos:</h2>
  <input
    type="email"
    class="form-control searchbox"
    id="exampleFormControlInput1"
    placeholder="Buscar"
    [formControl]="searchForm"
  />
</div>
<div class="products-container">
  <div
    *ngFor="let product of filteredProducts"
    class="card product"
    style="width: 18rem"
  >
    <img [src]="product.image" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">
        {{ product.description }}
      </p>
      <a (click)="addToCart(product)" class="btn btn-primary"
        >Agregar al carrito
      </a>
    </div>
  </div>
</div>
