
.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1{
  font-size: 2em;
  margin: 0.67em 0;
}

.searchbox-container {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
    
.searchbox {
  width: auto;
  margin-left: 10px;
  margin-bottom: 10px;
 }

@media (min-width: 768px) {
    .products-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .searchbox-container{
      flex-direction: row;
    }
    .searchbox{
      margin-bottom: 0;
    }

}

.btn-add-prod{
  margin-left: 10px;
}