*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.header{
  background-color: #5dc1b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header{
  .logo{
    img{
      height: 70px;
      width: auto;
    }
    img:hover {
      transform: scale(1.2);
    }
  }
}

.header{
  .logo{
    cursor: pointer;
  }
}

.header{
  .nav-links{
    list-style: none;
    li{
      display: inline-block;
      padding: 0 20px;
      cursor: pointer;  
    }
    li:hover{
      transform: scale(1.1);
    }
  }
}

.header .btn{
  font-weight: 700;
  padding: 9px 25px;
  margin-right: 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
  background-color:rgb(254, 254, 254);
}

.header .btn:hover{
  transform: scale(1.1);
}

.cart-icon{
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: all 0.3s;
}
