<header class="header">
  <div class="logo">
    <img src="./assets/logo.png" alt="Page logo" />
  </div>
  <nav>
    <ul class="nav-links">
      <li routerLink="/inicio">Inicio</li>
      <li routerLink="/productos">Productos</li>
      <li routerLink="/servicios">Mantenimiento</li>
      <li routerLink="/servicios-contratados">Servicios Contratados</li>
      <button class="btn">Contacto</button>
      <li (click)="logUser()" routerLink="/logIn">
        {{ !logInClick ? "Log In" : "Bienvenido" }}
      </li>
    </ul>
  </nav>
</header>