<header class="header">
  <div class="logo">
    <img src="./assets/logo.png" alt="Page logo" />
  </div>
  <nav>
    <ul class="nav-links">
      <li routerLink="/orders">Ver Pedidos</li>
      <li routerLink="/inicio">Inicio</li>
      <li routerLink="/productos">Productos</li>
      <li routerLink="/servicios">Mantenimiento</li>
      <li *ngIf="loginService.user.type==1" routerLink="/servicios-contratados">Servicios Contratados</li>
      <button class="btn">Contacto</button>

      <li routerLink="/logIn">Log In</li>
      <a class="cart-icon" routerLink="/cart"><i class="bi bi-cart"></i></a>
    </ul>
  </nav>
</header>