<div class="header">
  <h1>SERVICIOS</h1>
</div>




<div class="mb-3 searchbox-container">
  <h2 class="serv-title">Buscar Servicios:</h2>
  <input class="form-control searchbox" id="exampleFormControlInput1" placeholder="Buscar" [formControl]="searchForm" />
  <a *ngIf="admin" class="btn btn-primary btn-addServ" routerLink="/addService">
    Agregar Servicio
  </a>
</div>



<div class="service-container">
  <div *ngFor="let serv of this.filteredServices" class="service">
    <app-service [admin]="this.admin" [service]="serv" (editServiceClick)="editService($event)"
      (deleteServiceClick)="deleteService($event)" (buyServiceClick)="buyService($event)"></app-service>
    <hr>
  </div>
</div>