.header {
  display: flex;
  height: 30vh;
  background-image: url(/assets/fondo-agua.jpeg);
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: 1.5em;
}

.btn-addServ {
  position: absolute;
  right: 0;
  margin: 1rem;
}

.service-container {
  margin: 10rem;

  .service {
    margin: 1rem;

    .btns-container {
      display: flex;
      justify-content: space-between;
    }
  }
}