.header {
  display: flex;
  height: 30vh;
  background-image: url(/assets/fondo-agua.jpeg);
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: 1.5em;
}

.searchbox-container {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;

  .searchbox {
    max-width: 80vw;
    align-self: center;
  }

  .btn-addServ {
    align-self: flex-end;
    width: fit-content;
    margin: 1rem;
  }
}


.service-container {
  margin: 10rem;
  margin-top: 0;

  .service {
    margin: 1rem;
  }
}