<div class="header">
  <h1>SERVICIOS</h1>
</div>

<a class="btn btn-primary btn-addServ" routerLink="/addService">
  Agregar Servicio
</a>

<div class="service-container">
  <div *ngFor="let service of this.services" class="service">
    <p>{{service.description}}</p>
    <p><b>{{service.price}}</b></p>
    <div class="btns-container">
      <a routerLink="" class="btn btn-primary">Contactanos Ya</a>
      <button class="btn btn-secondary" (click)="editService(service.id)">Editar Servicio</button>
      <button class="btn btn-danger" (click)="deleteService(service.id)">Eliminar Servicio</button>
    </div>
    <hr>

  </div>
</div>