
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.log-in-box{
  width: 350px;
  height: 450px;
  background: #5dc1b9;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

}
h1{
  margin-bottom:50px;
}
label{
  font-size: xx-large;
}

input{
  height: 30px;
  border-radius: 5px;
}

form{
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.log-in-btn{
  background-color: rgb(255, 255, 255);
  color: black;
  height: 50px;
  width: 250px;
}
