<div class="container">
  <div class="log-in-box">
    <h1>Log In</h1>
    <form [formGroup]="logInForm" (ngSubmit)="getOneEmployee()">
      <div>
        <label for="username">Username</label>
        <input type="text" placeholder="Usuario" formControlName="username" class="form-input" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" placeholder="Contraseña" formControlName="password" class="form-input" #pass />
        <button class="btn btn-light" type="button" (click)="togglePassword(pass)">{{this.visible? 'Ocultar':'Mostrar'}}
          Contraseña</button>
      </div>
      <input type="submit" value="Log In" class="log-in-btn" />

      <a href="">Olvido su contraseña?</a>
      <a routerLink="/registrarse">No esta registrado?</a>
    </form>
  </div>
</div>