.editInput {
  display: inline;
  margin-bottom: .9rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  .btn {
    margin-right: .5rem;
  }

  .btn-aceptar {
    align-self: flex-end;
  }
}

.ng-invalid.ng-touched {
  outline: .2rem solid #f00;
}

.no-contratado {
  border: solid .2rem #ff5858;
  border-radius: .5rem;
}