<div class="container searchbox-container mb-3 mt-5">
  <div class="row" class="mb-2">
    <h1>SUCURSALES</h1>
  </div>
  <div class="row mb-2">
    <div class="col">
      <input type="email" class="form-control" id="search-branches-id" placeholder="Buscar"
        [formControl]="searchForm" />
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <button *ngIf="admin" type="button" class="btn btn-primary" (click)="add()">Nueva Sucursal</button>
    </div>
  </div>
  <div class="row">
    <table class="stylish-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Dirección</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let branch of filteredBranches()">
          <td>{{ branch.nombre }}</td>
          <td>{{ branch.direccion }}</td>
          <td>
            <button class="btn btn-secondary" (click)="remove(branch)">Eliminar</button>
            <button class="btn btn-secondary" (click)="update(branch)">Actualizar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>