.flex-container {
  padding-top: 5px;
  display: flex;
  flex-direction: column;

  .flex-child:nth-child(2) {
    align-self: center;
    margin: 1rem;
  }
}

.carousel {
  img {
    height: 50vh;
    object-fit: cover;
  }
}
@media (min-width:768px){
  .flex-container{
    padding-top: 0;
  }
}