<div class="flex-container">
  <carousel class="carousel flex-child">
    <slide>
      <img src="assets/fondo-cloro_23-2148727536.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/pileta.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/cloro-quimica.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>

  <div class="card flex-child" style="width: 23rem;">
    <img src="assets/cloro-index.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Química Aldea</h5>
      <p class="card-text">¡Te llevamos cualquier producto a la puerta de tu casa!</p>
      <a routerLink="/productos" class="btn btn-primary">Comprar</a>
    </div>
  </div>
</div>